/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.form-row {
  padding: 20px;
  border-top: #8aacb7 1px solid;
}

.button-row {
  padding: 10px 20px;
  border-top: #8aacb7 1px solid;
}

#btn-submit {
  padding: 10px 40px;
  background: #586e75;
  border: #485c61 1px solid;
  color: #fff;
  border-radius: 2px;
}

.file-input {
  background: #fff;
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  border: #8aacb7 1px solid;
}

.response {
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
}

.error {
  background: #fdcdcd;
  border: #ecc0c1 1px solid;
}

.success {
  background: #c5f3c3;
  border: #bbe6ba 1px solid;
}

.thumbnail img {
  padding-right: 15px;
}

.textRight {
  text-align: right;
}

.vresize {
  resize: vertical;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}
